---
import Card from "../../components/Card.astro";
import LayoutEN from "../../layouts/en/Layout.astro";
import type {ICard} from "../../model/card";
import {CocktailsConstantEN} from "../../constants/en/cocktails.constant";
const cocktails: ICard[] = CocktailsConstantEN;
---

<LayoutEN>
    <main>
        {cocktails.map((item) => (
                <Card value={item}/>
        ))}
    </main>
</LayoutEN>
<style>
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 50px;
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        main {
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
        }
    }


    @media (min-width: 768px) {
        main {
            padding: 0 10%;
        }
    }
</style>
