---
import LayoutES from "../layouts/LayoutES.astro";
import Card from "../components/Card.astro";
---

<LayoutES>
    <main>
        <Card backgroundPath="/cocktails/mojito-bg.jpg" itemPath="/cocktails/mojito.png"/>
        <Card backgroundPath="/cocktails/mojito-bg.jpg" itemPath="/cocktails/mojito.png"/>
        <Card backgroundPath="/cocktails/mojito-bg.jpg" itemPath="/cocktails/mojito.png"/>
        <Card backgroundPath="/cocktails/mojito-bg.jpg" itemPath="/cocktails/mojito.png"/>
        <Card backgroundPath="/cocktails/mojito-bg.jpg" itemPath="/cocktails/mojito.png"/>
        <Card backgroundPath="/cocktails/mojito-bg.jpg" itemPath="/cocktails/mojito.png"/>
        <Card backgroundPath="/cocktails/mojito-bg.jpg" itemPath="/cocktails/mojito.png"/>
    </main>
</LayoutES>
<style>
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 50px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        main {
            grid-template-columns: 1fr;
        }
    }
</style>
