---

---
<header>
    <img src="/cocktails.svg" alt="BlackCoffee Logo"/>
    <h1>Awaken your senses with our new cocktail menu</h1>
    <p>
        Are you seeking an experience beyond the ordinary? Whether you're looking for a romantic evening or a party
        night with friends, let our cocktail menu take you on a journey of flavors and aromas, designed to surprise and
        delight the choosiest palates. Enjoy a drink at our cozy bar. We guarantee you an unforgettable experience that
        will leave you wanting to come back.
    </p>
</header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 32px 0 64px 0;
    }

    header img {
        height: 200px;
        width: auto;
    }

    header h1 {
        padding: 0 5%;
        text-align: center;
        margin: 64px 0 16px 0;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 1.4em;
    }

    header p {
        padding: 0 5%;
        text-align: justify;
    }

    @media screen and (min-width: 768px) {
        header h1 {
            padding: 0;
            font-size: 2em;
        }

        header p {
            padding: 0 25%;
        }
    }
</style>
