---
import LayoutES from "../../layouts/es/Layout.astro";
import Card from "../../components/Card.astro";
import {CocktailsConstantES} from "../../constants/es/cocktails.constant";
import {ICard} from "../../model/card";
const cocktails: ICard[] = CocktailsConstantES;
---

<LayoutES>
    <main>
        {cocktails.map((item) => (
                <Card value={item}/>
        ))}
    </main>
</LayoutES>
<style>
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 50px;
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        main {
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
        }
    }


    @media (min-width: 768px) {
        main {
            padding: 0 10%;
        }
    }
</style>
